@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: wheat;
  margin-top: 25px;
}

input, textarea {
  color: black;
}

